[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[alias]
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --abbrev=8 --date=relative
	br = branch
	ci = commit
	st = status
	put = push origin HEAD
[push]
	default = simple
[user]
	name = Alexander Netrusov
